.applications-table .table-wrap{
    height: 400px;
    overflow: auto;
}

.applications-filter > div{
    display: inline-block;
}

.applications-filter .search{
    max-width: 200px;
}

.applications-filter .search-field {
    height: 30px;
}

.table-not-found{
    text-align: center;
    margin-top: 150px;
}