body{
    margin: 100px auto 24px;
    box-shadow: none;
    background: #f1f1f1;
    padding: 0;
}

ul{
    padding: 0;
}

ul li{
    margin-bottom: 10px;
    list-style-type: none;
}

.spinner{
    display: none;
}

.spinner.is-active{
    visibility: visible;
    display: inline-block;
    vertical-align: -6px;
}

.dashicons{
    color: #523f6d;
}

.jobboard-logo{
    border: 0;
    margin: 0 0 24px;
    padding: 0;
    text-align: center;
    color: #523f6d;
    font-weight: 300;
}

.jobboard-content{
    box-shadow: 0 1px 3px rgba(0,0,0,.13);
    padding: 24px 24px 0;
    background: #fff;
    overflow: hidden;
    zoom: 1;
}

.jobboard-content table{
    color: #666;
}

.jobboard-content .form-table th{
    width: 35%;
    vertical-align: top;
    font-weight: 400;
}

.jobboard-content .form-table td, .jobboard-content .form-table th{
    padding: 12px 0;
    margin: 0;
    border: 0;
}

.jobboard-content select{
    min-width: 200px;
}

.jobboard-content .form-table td .description{
    line-height: 1.5em;
    display: block;
    margin-top: .25em;
    color: #999;
    font-style: italic;
}

.jobboard-return{
    font-size: .85em;
    color: #b5b5b5;
    margin: 1.18em 0;
    display: block;
    text-align: center;
}

.jobboard-setup-steps {
    padding: 0 0 24px;
    margin: 0;
    list-style: none;
    overflow: hidden;
    color: #ccc;
    width: 100%;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex
}

.jobboard-setup-steps li {
    width: 50%;
    float: left;
    padding: 0 0 .8em;
    margin: 0;
    text-align: center;
    position: relative;
    border-bottom: 4px solid #ccc;
    line-height: 1.4em
}

.jobboard-setup-steps li:before {
    content: "";
    border: 4px solid #ccc;
    border-radius: 100%;
    width: 4px;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -6px;
    margin-bottom: -8px;
    background: #fff
}

.jobboard-setup-steps li.active {
    border-color: #523f6d;
    color: #523f6d
}

.jobboard-setup-steps li.active:before {
    border-color: #523f6d
}

.jobboard-setup-steps li.done {
    border-color: #523f6d;
    color: #523f6d
}

.jobboard-setup-steps li.done:before {
    border-color: #523f6d;
    background: #523f6d
}

.jobboard-setup .setup-actions {
    overflow: hidden
}

.jobboard-setup .setup-actions .button {
    float: right;
    font-size: 1.25em;
    padding: .5em 1em;
    line-height: 1em;
    margin-right: .5em;
    margin-bottom: 2px;
    height: auto;
    border-radius: 4px
}

.jobboard-setup .setup-actions .button-primary {
    background-color: #523f6d;
    border-color: #523f6d;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #523f6d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #523f6d;
    text-shadow: 0 -1px 1px #523f6d, 1px 0 1px #523f6d, 0 1px 1px #523f6d, -1px 0 1px #523f6d;
    float: right;
    margin: 0;
    opacity: 1
}

.jobboard-setup .setup-actions .button-primary:active, .jobboard-setup .setup-actions .button-primary:focus, .jobboard-setup .setup-actions .button-primary:hover {
    background: #523f6d;
    border-color: #523f6d;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #523f6d;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, .25), 0 1px 0 #523f6d
}